<!--------------------------------------
FOOTER
--------------------------------------->
<div class="container mt-5">
    <footer class="bg-white border-top p-3 text-muted small">
        <div class="row align-items-center justify-content-between">
            <div>
                <span class="navbar-brand mr-2"><strong>Blazing Blog</strong></span> Copyright &copy;
                @DateTime.Now.Year. All rights reserved.
            </div>
            <div>
                Built with <strong>Blazor .Net 8</strong>
                by Wael Muawad
                <a target="_blank"
                   class="text-secondary font-weight-bold"
                   href="https://github.com/Wael-Muawad/BlazingBlog">Github Repo</a> from youtube course
                   
                <a target="_blank"
                   class="text-secondary font-weight-bold"
                   href="https://www.youtube.com/watch?v=bqlYviq4J4o">Source Course</a>
            </div>
        </div>
    </footer>
</div>
<!-- End Footer -->
@code {

}
