@page "/admin/manage-categories"


<AdminHeader Title="Dashboard">
    <ActionButtons>
        <button type="button" 
                class="btn btn-sm btn-primary">
            Add New Category
        </button>
    </ActionButtons>
</AdminHeader>


@code {

}
